/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

button, input, select, textarea {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  overflow-wrap: break-word;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}